<ul class="nav nav-pills">
  <li class="nav-item"> <a class="nav-link"  (click)="setTab(1)" [class.active]="tab === 1">Description</a> </li>
   <li class="nav-item"> <a class="nav-link" (click)="setTab(2)" [class.active]="tab === 2">Colors</a> </li>
   <li class="nav-item"> <a class="nav-link" (click)="setTab(3)" [class.active]="tab === 3">Reviews</a> </li>
</ul>
<div *ngIf="tab === 1">{{germ.description}}</div>
<div *ngIf="tab === 2"><ul>
    <li *ngFor="let color of germ.colors">{{color}}</li>
</ul></div>
<div *ngIf="tab === 3"> <app-reviews [germ]="germ"></app-reviews> </div>